* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-black);
}

a {
  color: unset;
  text-decoration: none;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-head);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  /* border-radius: 8px; */
  border: none;
  outline: none;
  cursor: pointer;
}

.custom__button button:hover {
  border-radius: 10px;
  background-color: #4fa1be;
  color: #000;
  cursor: pointer;
  transition: 0.8s ease;
}

.custom__button :hover {
  background-color: var(--color-white);
  color: var(--color-black);
  transition: 0.5s ease;
  border: 2px solid black;
}

.p__header {
  font-family: var(--font-para);
  color: var(--color-black);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 26px;
}

.p__para {
  font-family: var(--font-para);
  color: var(--color-black);
  font-weight: 800;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.h__headtext {
  font-family: var(--font-para);
  color: var(--color-black);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.gradient__bg {
  border-radius: 10px;
  background: -moz-radial-gradient(circle at 0% 100%, rgba(193, 222, 232, 1) 0%, rgba(251, 217, 185, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 0% 100%, rgba(193, 222, 232, 1) 0%, rgba(251, 217, 185, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 0% 100%, rgba(193, 222, 232, 1) 0%, rgba(251, 217, 185, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 0% 100%, rgba(193, 222, 232, 1) 0%, rgba(251, 217, 185, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 0% 100%, rgba(193, 222, 232, 1) 0%, rgba(251, 217, 185, 1) 100%);
}

.gradient__box {
  border-radius: 20px;
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 0% 100%, rgba(173, 133, 116, 0.56) 0%, rgba(103, 72, 103, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 0% 100%, rgba(173, 133, 116, 0.56) 0%, rgba(103, 72, 103, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 0% 100%, rgba(173, 133, 116, 0.56) 0%, rgba(103, 72, 103, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 0% 100%, rgba(173, 133, 116, 0.56) 0%, rgba(103, 72, 103, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 0% 100%, rgba(173, 133, 116, 0.56) 0%, rgba(103, 72, 103, 1) 100%);
}

.gradient__box:hover {
  background: radial-gradient(
    circle at 0% 100%,
    rgba(103, 72, 103, 1) 0%,
    rgba(173, 133, 116, 0.56) 100%
  );
}

.section__padding {
  padding: 2rem 2rem;
}

.section__margin {
  margin: 2rem 4rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (min-width: 2000px) {

  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 1rem;
  }

  .section__margin {
    margin: 1rem;
  }

  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .section__padding {
    padding: 1rem;
  }

  .section__margin {
    margin: 1rem;
  }

  .p__para {
    font-size: 12px;
  }

  .p__header {
    font-size: 19px;
  }

  .h__headtext{
    font-size: 45px;
    line-height: 70px;
  }
}