@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Outfit&display=swap');


:root {
  --font-header: 'Outfit', sans-serif;
  --font-para: 'Barlow', sans-serif;

  --color-bg: #c1dee8;
  --color-text: #3e3242;

  --color-head: #131313;
  /* --color-subtext: ""; */
}