.app__footer-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.app__footer-links_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}

.app__footer-links_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__footer-links_icons a {
    padding: 1rem;

}

.app__footer-links_work {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

}